# Minimal PUBLIC surface: only the model + serving files the validator manifest
# hashes (implementation_files) + README/LICENSE/deps. Training pipeline, data,
# autopilot and framework stay LOCAL, never pushed. Default-deny whitelist.

/*
!/.gitignore
!/LICENSE
!/README.md
!/model
!/requirements.txt
/model/*
!/model/artifacts
!/model/features_v2.py
!/model/infer.py
/model/artifacts/*
!/model/artifacts/meta.json
!/model/artifacts/model.pkl
